<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>wishlist app</title>
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 
</head>
<body>
  <!--Fix navigation bar with dropdown start-->
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand"></a>
          </div>

          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="index.html">Home</a> </li>
                  <li><a href="wishlist.html">Wish List</a> </li>
                  <li><a href="contact.html">Contact</a> </li>
              </ul>

          </div>
      </div>
  </div>
  <!--Fix navigation bar with dropdown end-->


  <!--jumbotran starts-->

<br/>  <br/>  <br/>

  <!--images classes-->
 
   
   
    
 
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>Images classes</h1>
          </div>
      </div>

      <div class="row">
          <div id="prod-id-1" class="col-md-4">
             
             <img class="img-rounded" id="hero-graphic" alt="Blog Hero Image" src="" />
               <div class="prod-name" id="prod_name">Moto G</div>
            <div class="prod_price">Price is <span> $100.00</span></div>

            <!-- <img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image"> -->
             <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button>  -->
            <a data-toggle="modal" id="mywishlist" class="btn btn-primary facebook" href="#wishlist">Add to wishlist</a>
          </div>
          <div id="prod-id-2"class="col-md-4">
              <img class="img-rounded" id="image-8" alt="Blog Hero Image" src="" />

              <div class="prod-name" id="prod_name">Moto G</div>
                        <div class="prod_price">Price is <span> $100.00</span></div>
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
            <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
            <a data-toggle="modal" id="mywishlist" class="btn btn-primary puma" href="#wishlist">Add to wishlist</a>
          </div>

          <div id="prod-id-3"class="col-md-4">
              <img id="beats-graphic" alt="Blog beats Image" src="" />
            <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
            <div class="prod-name" id="prod_name">Moto G</div>
            <div class="prod_price">Price is <span> $100.00</span></div>
            <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
            <a data-toggle="modal" id="mywishlist" class="btn btn-primary fashion" href="#wishlist">Add to wishlist</a>
          </div>



      </div>
  </div>
<br/>
  <div class="container">
      <div class="row">
          <div id="prod-id-4"class="col-md-4">
              <img id="image-5" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
              <a data-toggle="modal" id="mywishlist" class="btn btn-primary ipad" href="#wishlist">Add to wishlist</a>
          </div>
          <div id="prod-id-5"class="col-md-4">
              <img id="image-6" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
              <a data-toggle="modal" id="mywishlist" class="btn btn-primary techno" href="#wishlist">Add to wishlist</a>
          </div>
          <div id="prod-id-6"class="col-md-4">
              <img id="image-7" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
              <a data-toggle="modal" id="mywishlist" class="btn btn-primary gather" href="#wishlist">Add to wishlist</a>
          </div>
      </div>
  </div>
  <br/>
  <div class="container">
      <div class="row">
          <div id="prod-id-7"class="col-md-4">
              <img id="image-2" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
            <a data-toggle="modal"  class="btn btn-primary iphone" href="#wishlist">Add to wishlist</a>
          </div>
          <div id="prod-id-8"class="col-md-4">
              <img id="image-3" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
<!--              <a data-toggle="modal" id="mywishlist" class="btn btn-primary" href="#wishlist">Add to wishlist</a>-->
         <a data-toggle="modal"   class="btn btn-primary desktop" href="#wishlist">Add to wishlist</a>
          </div>
          <div id="prod-id-9"class="col-md-4">
              <img id="image-4" alt="Blog beats Image" src="" />
              <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
              <div class="prod-name">Moto G</div>
              <div class="prod_price">Price is <span> $100.00</span></div>
              <!-- <button ng-click="addToCart()" class="btn btn-success">Add to WishList</button> -->
               
              <a data-toggle="modal"   class="btn btn-primary mmm" href="#wishlist">Add to wishlist</a>
          </div>
      </div>
  </div>




  <!-- signup form starts -->

<div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-hidden="true">

                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <input type="button" class="close" id="close"data-dismiss="modal" value="&times;"/>

                                  <h2>My Wishlist</h2>

                              </div>
                              <div class="modal-body">

                                 <!--<img class="img-rounded" id="image-one" src="images/apple.jpg" alt="apple image">-->
                                  <div id="mod_image"></div>
                                   <div id="mod_name"></div>
                                    <div id="mod_price"></div>
                                    <form method="POST" action="wishlist.html">
                                      <input type="button"  id="add-to-cart"class="btn btn-success" value="ADD" />                                    
                                    </form>
                                  
                                     <div class="addcart">Item has been added to your cart</div>


                                  <!--<p>This is modal body...</p>-->
                              </div>
                              
                          </div>

                      </div>




                  </div>

<!-- sign form ends -->


  <!--footer and modal start-->

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <hr/>
              <p>Copyright &copy;vishu.
                 <a data-toggle="modal" href="#myModal">Terms and Conditions</a>
              </p>

              <!--modal starts-->

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                          <button type="button" class="close" id="close"data-dismiss="modal">&times;</button>
                              <h2>Terms and Conditions...</h2>
                          </div>
                          <div class="modal-body">
                              <p>This is modal body...</p>
                          </div>
                          <div class="modal-footer">
                              

                          </div>
                      </div>

                  </div>



              </div>
          </div>
      </div>

  </div>
  <!--<button class="btn btn-success">test</button>-->


<!--<script  type="text/javascript" src="js/bootstrap.js"></script>-->
  
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="js/script.js"></script>
</body>
</html>